@media screen {

    #csftool-content {
        height: 450px;
        width: 900px;
        margin: 0 0 0 0;
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

    #csftool-content .csftool-center { text-align: center; }
    #csftool-content .csftool-left { text-align: left; }
    #csftool-content .csftool-em { font-weight: bold; }
    #csftool-content .csftool-clearfix { overflow: auto; }

    /* input panel */
    #csftool-input {
        display: inline-block;
        float: left;
        height: 450px;
        width: 198px;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        background: #ffffff;
        border: 2px solid #00bb00;
        }

    /* display panel */
    #csftool-display {
        height: 450px;
        width: 696px;
        margin-left: 200px;
        border-top: 2px solid #00bb00;
        border-right: 2px solid #00bb00;
        border-bottom: 2px solid #00bb00;
        text-align: center;
        background: #ffffff;
        }

    /* end of csftool screen styling */
    }

